<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title>${superhero.name}</title>
</head>
<body>

  <a href="/"><code>&lt;&lt; BACK</code></a>

  <h1 th:text="${superhero.name}"/>

  <p th:text="${superhero.summary}"/>
</body>
</html>
